h6{
	background-color:#110C0B;
	color:#1B202C;
	padding: 5px;
	margin:5px;
}
a:link{
color: red;
font-size: 15px;
text-decoration: none;

}
td {
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;

}

#table{
 background-color: #110C0B;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 	box-shadow: 5px 5px 5px #7F6E6B  ;
}
#display{
	width:96%;
	height:50px;
	font-size:20px;
	border-radius:10px;
	background-color:#c7c7b0;
	margin: 2px;
}

#input{
font-size: 40px;

}
#background{
	color:white;
	background-color: #9BA4BA;
	background: url("https://previews.123rf.com/images/olegdudko/olegdudko1508/olegdudko150800487/43246653-Laptop-and-papers-desk-work--Stock-Photo-table-business-coffee.jpg");
	background-size: cover;
	text-align:center;
	}
#mainCalculator{
	width: 380px;
    height: 470px;
    border: 10px solid #3E3B3A  ;
    box-sizing: border-box;
	border-width: 10px;
	border-size: 25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-sizing: border-box;
	background-color: #1B110F  ;
	box-shadow: 5px 3px 5px #888888;
	
	}
.button {
	
	height:70px;
    width:70px;
	border-radius: 20px;
    background-color: #1B202C;
    border: none;
    color: white;
	font-size: 30px;

    display: inline;
    
    margin: 4px 4px;
    cursor: pointer;
}
.button:hover {
   background-color: #3e8e41;
}
.button:active{
	background-color: #3e8e41;
	transform: translateY(4px);
	
}
#btn{
	height:70px;
    width:70px;
	border-radius: 20px;
    background-color: #1B202C;
    border: none;
    color: white;
	font-size: 30px;

    display: inline;
    
    margin: 4px 4px;
    cursor: pointer;
}
#btn:hover {
   background-color: #3e8e41;
}
#btn:active{
	background-color: #3e8e41;
	transform: translateY(4px);
	
}


	
.bksp{
	height: 50px;
	width: 70px;
	border-radius: 10px;
	background-color: #960F0F;
    border: none;
    color: white;
    text-align: center;
	display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
	vertical-align:middle;
}
.bksp:hover {
   background-color: #3e8e41;
}
.bksp:active{
	background-color: #3e8e41;
	transform: translateY(4px);
}
.square{
	height: 50px;
	width: 40px;
	border-radius: 10px;
	background-color: #960546;
    border: none;
    color: white;
    text-align: center;
	display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
	vertical-align:middle;
}
.square:hover {
   background-color: #3e8e41;
}
.square:active{
	background-color: #3e8e41;
	transform: translateY(4px);
}
.zero{
	height:70px;
    width: 160px;
	border-radius: 20px;
    background-color: #1B202C;
    border: none;
    color: white;
	font-size: 30px;

    display: inline;
    
    margin: 4px 4px;
    cursor: pointer;

}
.zero:hover {
   background-color: #3e8e41;
}
.zero:active{
	background-color: #3e8e41;
	transform: translateY(4px);
}

.equals{
	height:70px;
    width: 160px;
	border-radius: 20px;
    background-color: #1B202C;
    border: none;
    color: white;
	font-size: 30px;

    display: inline;
    
    margin: 4px 4px;
    cursor: pointer;
}
.equals:hover {
   background-color: #3e8e41;
}
.equals:active{
	background-color: #3e8e41;
	transform: translateY(4px);
}
.bracket{
	height:65px;
    width:30px;
	border-radius: 20px;
    background-color: #1B202C;
    border: none;
    color: white;
	font-size: 30px;
	
    display: inline;
    
    margin: 4px 2px;
    cursor: pointer;

}

.bracket:hover {		
   background-color: #3e8e41;		
}		
.bracket:active{		
	background-color: #3e8e41;		
	transform: translateY(4px);
}

/*CODE FOR THE POWER BUTTON*/	
#power{
	 position: center;
	display: inline-block;
	width: 31px;
	height: 20px;
	border-radius: 30px;
	position: center;
    background-color: red;
    border: none;
    color: black;
    text-align: top;
    font-size: 10px;
	font-weight: bold;
    margin: 2px 2px;
	padding-top: 20px;
    cursor: pointer

}
#power:hover {
    background-color: #3e8e42;

}

/*everything below this point is possibly all my code */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {
	display:none;
}
/*code for slider*/
.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;/*#ccc*/
  -webkit-transition: .4s;
  transition: .4s;
    border-radius:10px;
}


 /*code for inner switch. the initial state*/
.slider:before {
  position: absolute;
  content: "Sci.Off ";
  font-size:10px;
  text-align:center;
  height: 20px;
  width: 35px;
  left: 4px;
  bottom: 4px;
  background-color: grey;
  -webkit-transition: .8s;
  transition: .8s;
    border-radius:5px;
}

input:checked + .slider {

  background-color: green;/*#2196ff*/
  /*color of switch changes after it slides*/
}
/*
input:focus + .slider {
  box-shadow: 0 0 10px #2196F3;
}*/
/*this is carried out after the switched is checked*/
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
   content: "ON";
   text-align:center;
}


